body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    /* font-family: roboto; */
  }
  
  footer {
    margin-top: auto;
  }
  
  a:hover,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .nav-menu h2 {
    padding-left: 80px;
    font-size: 24px;
    color: #f9faf8;
  }
  
  .nav-links {
    padding-right: 80px;
  }
  
  .nav-links a {
      color: white;
      margin-left: 20px;
      font-size: 18px;
    }
  
    .hero-header {
      display: flex;
      background-color: #1f2937;
      color: white;
      padding: 50px 80px;
      justify-content: center;
    }
     .hero-left {
      margin-right: 30px;
     }
  
    .hero-left h1 {
      margin: 0;
      font-size: 48px;
      font-weight: 800;
      color: #f9faf8;
    }

    .hero-left p {
      font-size: 18px;
      color: #e5e7eb
    }
  
    .hero-btn {
      background-color: #3882f6;
      color:white;
      padding: 10px 40px;;
      border-radius: 10px;
    }
  
    .hero-right {
  
    }
    
    .placeholder-img {
      background-color: #6D747D;
      padding: 80px 100px;
      display: inline-block;
      font-size: 18px;
    }

    .information-header {
      display: flex;
      /* justify-content: center; */
      flex-wrap:wrap;
    }

  .information-header h1 {
    flex-basis: 100%;
    text-align: center;
  }

  .box-container {
   display: flex;
   flex-basis: 100%;
   justify-content: center;
  }

  .info-box {
    margin: 25px;
  }
  .info-box p {
    max-width: fit-content;
  }

  .box-img {
    display: inline-block;
    padding: 80px;
    border: 3px solid #3882f6;
    border-radius: 10px;
  }
